<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='ajax/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ajax/css/dataTables.bootstrap5.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ajax/css/roboto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ajax/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='table/css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>
      <hr>
      <div class="card">
      {% block content %}{% endblock %}
      </div>
    </div>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='ajax/js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='table/js/popper.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='table/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='table/js/main.js') }}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>